{% extends "layouts/main.njk" %}

{% block casaPageTitle %}
  {{ t('start:pageTitle') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ t('start:title') }}
  </h1>

  {% set linkSource = "data:application/pdf;base64," + encodedPdf %}

  <a href="{{ linkSource }}" download="file.pdf">Download PDF</a>
{% endblock %}
